/* ----------------
    Common Styles
-----------------*/
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------------
    Header Part Styles
-----------------*/
.container {
    width: 85%;
    height: 440px;
    background: #161616;
    display: flex;
    margin: 30px auto 85px;
    border-radius: 20px;
    overflow: hidden;
}
.w-50 {
    width: 50%;
    color: #fff;
}
.w-50 h1 {
    font-size: 40px;
    line-height: 50px;
}
.w-50 p {
    font-size: 16px;
    margin-top: 15px;
}
.w-50 button {
    margin-top: 25px;
    background-color: #DD0000;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    color: #fff;
}
.w-50.left-content {
    margin-left: 50px;
    margin-top: 60px;
}
.fa-solid {
    margin-left: 6px;
}
.w-50 img {
    width: 385px;
    margin-top: 36px;
}
/* ----------------
    Main Part Styles - Navbar
-----------------*/
.left-navbar {
    width: 210px;
    height: 200px;
    background: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    border-radius: 6px;
    font-weight: 500;
}
.button-1 {
    padding: 10px 15px;
    border-radius: 6px;
    background-color: #fff;
}
.button-2 {
    padding: 10px 48px;
    border-radius: 6px;
    background-color: #fff;
}
.button-3 {
    padding: 10px 67px;
    border-radius: 6px;
    background: #DD0000;
}
.left-navbar .button a {
    text-decoration: none;
    color: #000;
}
/* ----------------
    Main Part Styles - Articles
-----------------*/
