/* ----------------
    Common Styles
-----------------*/
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
}
/* ----------------
    Header Part Styles
-----------------*/
.container {
    width: 87%;
    max-width: 885px;
    height: 440px;
    background: #161616;
    display: flex;
    margin: 30px auto 85px;
    border-radius: 20px;
    overflow: hidden;
}
.w-50 {
    width: 50%;
    color: #fff;
}
.w-50 h1 {
    font-size: 40px;
    line-height: 50px;
}
.w-50 p {
    font-size: 16px;
    margin-top: 15px;
}
.w-50 button {
    margin-top: 25px;
    background-color: #DD0000;
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    color: #fff;
}
.w-50.left-content {
    margin-left: 50px;
    margin-top: 60px;
}
.fa-solid {
    margin-left: 6px;
}
.w-50 img {
    width: 385px;
    margin-top: 36px;
}
/* ----------------
    Main Part Styles - Left Navbar
-----------------*/
.left-navbar {
    width: 210px;
    height: 200px;
    background: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    border-radius: 6px;
    font-weight: 500;
}
.button-1 {
    padding: 10px 15px;
    border-radius: 6px;
    background-color: #fff;
}
.button-2 {
    padding: 10px 48px;
    border-radius: 6px;
    background-color: #fff;
}
.button-3 {
    padding: 10px 67px;
    border-radius: 6px;
    background: #DD0000;
}
.left-navbar .button a {
    text-decoration: none;
    color: #000;
}
/* ----------------
    Main Part Styles - Articles
-----------------*/
main {
    display: flex;
    column-gap: 15px;
    justify-content: center;
}
.blogs {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 15px;
    row-gap: 15px;
    margin-bottom: 85px;
}
.blog {
    width: 210px;
    border: 1px solid lightgray;
    border-radius: 7px;
}
.blog img {
    width: 100%;
}
.blog a {
    margin: 12px 0 0 15px;
    text-decoration: none;
    color: #000;
    padding: 3px 8px;
    border: 1.2px solid #000;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 500;
    display: inline-block;
}
.blog h4 {
    margin: 12px 0 12px 15px;
    font-size: 12px; 
}
.blog-info {
    display: flex;
    margin: 0 0 0 15px;
    padding-bottom: 13px;
}
.fa-clock, .fa-message {
    font-size: 14px;
    margin-right: 8px;
}
.duration p, .comment p {
    font-size: 12px;
    margin-right: 20px;
    color: rgba(22, 22, 22, 0.7);
}
/* ----------------
    View All Button - Styles
-----------------*/
.view-all-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    display: none;
}
.view-all-button a {
    text-decoration: none;
    color: #fff;
    background-color: #DD0000;
    padding: 8px 25px;
    border-radius: 5px;
}
/* ----------------
    Footer Styles
-----------------*/
.footer-container {
    background: #161616;
    overflow: hidden;
}
.footer-content {
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
hr {
     border-style: none;
     border-bottom: 1px solid rgba(255, 255, 255, 0.1);
     width: 87%;
     margin: 40px auto 40px;
}
.footer-nav .pages a {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 14px;
}
.pages {
    margin: 0px 15px 0px 15px;
}
.footer-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}
/* ----------------
    Media Quiries for - TAB
-----------------*/  
@media only screen and (min-width:835px) and (max-width:1023px) {
    .container {
        width: 725px;
        height: 420px;
    }
    .w-50 img {
        width: 330px;
        margin-top: 73px;
    }
    .w-50.left-content {
        margin-left: 35px;
        margin-top: 60px;
    }
    main {
        display: block;
    }
    .left-navbar {
        width: 100%;
        height: 0;
        margin-bottom: 55px;
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        border-radius: 6px;
        font-weight: 500;
    }
    .button-1 {
        padding: 10px 45px;
        border-radius: 6px;
        background-color: #fff;
        border: 1px solid lightgray;
    }
    .button-2 {
        padding: 10px 78px;
        border-radius: 6px;
        background-color: #fff;
        border: 1px solid lightgray;
    }
    .button-3 {
        padding: 10px 98px;
        border-radius: 6px;
        background: #DD0000;
    }
    .blogs {
        display: grid;
        grid-template-columns: repeat(2,0fr);
        justify-content: center;
        column-gap: 15px;
        row-gap: 15px;
        margin-bottom: 85px;
    }
    .blog {
        width: 355px;
        border: 1px solid lightgray;
        border-radius: 7px;
    }
    .blog h4 {
        margin: 12px 0 12px 15px;
        font-size: 16px; 
    }
    .view-all-button {
        margin-bottom: 40px;
        display: flex;
    }
    .footer-nav {
        display: grid;
        grid-template-columns: 180px 180px 180px 180px;
        justify-items: center;
        column-gap: 0px;
        row-gap: 35px;
        
    }
    .pages {
        margin: 0px 0px 0px 0px;
    }
    .app-page, .live-page {
        margin: 0px -360px 0px 0px;        
    }
    
}